In [40]:
#!pip install pyspark

In [1]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName("Basics").getOrCreate()

In [ ]:
df=spark.read.csv('College.csv',header=True,inferSchema=True)

In [6]:
df.show()

+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+
|              School|Private|Apps|Accept|Enroll|Top10perc|Top25perc|F_Undergrad|P_Undergrad|Outstate|Room_Board|Books|Personal|PhD|Terminal|S_F_Ratio|perc_alumni|Expend|Grad_Rate|
+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+
|Abilene Christian...|    Yes|1660|  1232|   721|       23|       52|       2885|        537|    7440|      3300|  450|    2200| 70|      78|     18.1|         12|  7041|       60|
|  Adelphi University|    Yes|2186|  1924|   512|       16|       29|       2683|       1227|   12280|      6450|  750|    1500| 29|      30|     12.2|         16| 10527|       56|
|      Adrian College|    Yes|1428|  1097|   336|       22|       50|       1036|         99|   11250|      3750|  400|    1165| 53|      66|     12.9|         30|  8735|       54|
| Agnes Scott College|    Yes| 417|   349|   137|       60|       89|        510|         63|   12960|      5450|  450|     875| 92|      97|      7.7|         37| 19016|       59|
|Alaska Pacific Un...|    Yes| 193|   146|    55|       16|       44|        249|        869|    7560|      4120|  800|    1500| 76|      72|     11.9|          2| 10922|       15|
|   Albertson College|    Yes| 587|   479|   158|       38|       62|        678|         41|   13500|      3335|  500|     675| 67|      73|      9.4|         11|  9727|       55|
|Albertus Magnus C...|    Yes| 353|   340|   103|       17|       45|        416|        230|   13290|      5720|  500|    1500| 90|      93|     11.5|         26|  8861|       63|
|      Albion College|    Yes|1899|  1720|   489|       37|       68|       1594|         32|   13868|      4826|  450|     850| 89|     100|     13.7|         37| 11487|       73|
|    Albright College|    Yes|1038|   839|   227|       30|       63|        973|        306|   15595|      4400|  300|     500| 79|      84|     11.3|         23| 11644|       80|
|Alderson-Broaddus...|    Yes| 582|   498|   172|       21|       44|        799|         78|   10468|      3380|  660|    1800| 40|      41|     11.5|         15|  8991|       52|
|   Alfred University|    Yes|1732|  1425|   472|       37|       75|       1830|        110|   16548|      5406|  500|     600| 82|      88|     11.3|         31| 10932|       73|
|   Allegheny College|    Yes|2652|  1900|   484|       44|       77|       1707|         44|   17080|      4440|  400|     600| 73|      91|      9.9|         41| 11711|       76|
|Allentown Coll. o...|    Yes|1179|   780|   290|       38|       64|       1130|        638|    9690|      4785|  600|    1000| 60|      84|     13.3|         21|  7940|       74|
|        Alma College|    Yes|1267|  1080|   385|       44|       73|       1306|         28|   12572|      4552|  400|     400| 79|      87|     15.3|         32|  9305|       68|
|     Alverno College|    Yes| 494|   313|   157|       23|       46|       1317|       1235|    8352|      3640|  650|    2449| 36|      69|     11.1|         26|  8127|       55|
|American Internat...|    Yes|1420|  1093|   220|        9|       22|       1018|        287|    8700|      4780|  450|    1400| 78|      84|     14.7|         19|  7355|       69|
|     Amherst College|    Yes|4302|   992|   418|       83|       96|       1593|          5|   19760|      5300|  660|    1598| 93|      98|      8.4|         63| 21424|      100|
| Anderson University|    Yes|1216|   908|   423|       19|       40|       1819|        281|   10100|      3520|  550|    1100| 48|      61|     12.1|         14|  7994|       59|
|  Andrews University|    Yes|1130|   704|   322|       14|       23|       1586|        326|    9996|      3090|  900|    1320| 62|      66|     11.5|         18| 10908|       46|
|Angelo State Univ...|     No|3540|  2001|  1016|       24|       54|       4190|       1512|    5130|      3592|  500|    2000| 60|      62|     23.1|          5|  4010|       34|
+--------------------+-------+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+---+--------+---------+-----------+------+---------+
only showing top 20 rows

In [7]:
df.printSchema()

root
 |-- School: string (nullable = true)
 |-- Private: string (nullable = true)
 |-- Apps: integer (nullable = true)
 |-- Accept: integer (nullable = true)
 |-- Enroll: integer (nullable = true)
 |-- Top10perc: integer (nullable = true)
 |-- Top25perc: integer (nullable = true)
 |-- F_Undergrad: integer (nullable = true)
 |-- P_Undergrad: integer (nullable = true)
 |-- Outstate: integer (nullable = true)
 |-- Room_Board: integer (nullable = true)
 |-- Books: integer (nullable = true)
 |-- Personal: integer (nullable = true)
 |-- PhD: integer (nullable = true)
 |-- Terminal: integer (nullable = true)
 |-- S_F_Ratio: double (nullable = true)
 |-- perc_alumni: integer (nullable = true)
 |-- Expend: integer (nullable = true)
 |-- Grad_Rate: integer (nullable = true)

In [8]:
df.columns

['School',
 'Private',
 'Apps',
 'Accept',
 'Enroll',
 'Top10perc',
 'Top25perc',
 'F_Undergrad',
 'P_Undergrad',
 'Outstate',
 'Room_Board',
 'Books',
 'Personal',
 'PhD',
 'Terminal',
 'S_F_Ratio',
 'perc_alumni',
 'Expend',
 'Grad_Rate']

In [9]:
df.describe()

DataFrame[summary: string, School: string, Private: string, Apps: string, Accept: string, Enroll: string, Top10perc: string, Top25perc: string, F_Undergrad: string, P_Undergrad: string, Outstate: string, Room_Board: string, Books: string, Personal: string, PhD: string, Terminal: string, S_F_Ratio: string, perc_alumni: string, Expend: string, Grad_Rate: string]

In [10]:
df.describe().show()

+-------+--------------------+-------+------------------+------------------+----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+------------------+
|summary|              School|Private|              Apps|            Accept|          Enroll|         Top10perc|         Top25perc|      F_Undergrad|      P_Undergrad|          Outstate|        Room_Board|             Books|          Personal|               PhD|          Terminal|         S_F_Ratio|       perc_alumni|          Expend|         Grad_Rate|
+-------+--------------------+-------+------------------+------------------+----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+------------------+
|  count|                 777|    777|               777|               777|             777|               777|               777|              777|              777|               777|               777|               777|               777|               777|               777|               777|               777|             777|               777|
|   mean|                NULL|   NULL|3001.6383526383524|2018.8043758043757|779.972972972973| 27.55855855855856|  55.7966537966538|3699.907335907336|855.2985842985843| 10440.66924066924| 4357.526383526383| 549.3809523809524|1340.6422136422136| 72.66023166023166| 79.70270270270271|14.089703989703986|22.743886743886744|9660.17117117117| 65.46332046332046|
| stddev|                NULL|   NULL|3870.2014844352884|  2451.11397099263| 929.17619013287|17.640364385452134|19.804777595131373|4850.420530887386|1522.431887295513|4023.0164841119727|1096.6964155935289|165.10536013709253|  677.071453590578|16.328154687939314|14.722358527903374|3.9583491352055478| 12.39180148937615|5221.76843985609|17.177709897155403|
|    min|Abilene Christian...|     No|                81|                72|              35|                 1|                 9|              139|                1|              2340|              1780|                96|               250|                 8|                24|               2.5|                 0|            3186|                10|
|    max|York College of P...|    Yes|             48094|             26330|            6392|                96|               100|            31643|            21836|             21700|              8124|              2340|              6800|               103|               100|              39.8|                64|           56233|               118|
+-------+--------------------+-------+------------------+------------------+----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+----------------+------------------+

In [ ]:
from pyspark.sql.types import (StructType, StructField, 
                               StringType, IntegerType, FloatType)

In [12]:
data_schema = [StructField("University Name", StringType(), True),
               StructField("Year", IntegerType(), True),
               StructField("Apps", IntegerType(), True),
               StructField("Accept", IntegerType(), True),
                
                StructField("Enroll", IntegerType(), True),
                StructField("Top10perc", IntegerType(), True),
                StructField("Top25perc", IntegerType(), True),
                StructField("F_Undergrad", IntegerType(), True),
                StructField("P_Undergrad", IntegerType(), True),
                StructField("Outstate", FloatType(), True),
                StructField("Room_Board", FloatType(), True),
                StructField("Books", FloatType(), True),
                StructField("Personal", FloatType(), True),
                StructField("PhD", FloatType(), True),
                StructField("Terminal", FloatType(), True),
                    
                    StructField("S_F_Ratio", FloatType(), True),
                    StructField("perc_alumni", FloatType(), True),
                    StructField("Expend", FloatType(), True),
                    StructField("Grad_Rate", FloatType(), True)]

In [13]:
final_struct = StructType(fields=data_schema)

In [14]:
df = spark.read.csv('College.csv',header=True,schema=final_struct)

In [15]:
df.printSchema()

root
 |-- University Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Apps: integer (nullable = true)
 |-- Accept: integer (nullable = true)
 |-- Enroll: integer (nullable = true)
 |-- Top10perc: integer (nullable = true)
 |-- Top25perc: integer (nullable = true)
 |-- F_Undergrad: integer (nullable = true)
 |-- P_Undergrad: integer (nullable = true)
 |-- Outstate: float (nullable = true)
 |-- Room_Board: float (nullable = true)
 |-- Books: float (nullable = true)
 |-- Personal: float (nullable = true)
 |-- PhD: float (nullable = true)
 |-- Terminal: float (nullable = true)
 |-- S_F_Ratio: float (nullable = true)
 |-- perc_alumni: float (nullable = true)
 |-- Expend: float (nullable = true)
 |-- Grad_Rate: float (nullable = true)

In [16]:
df['University Name']

Column<'`University Name`'>

In [17]:
type(df['University Name'])

pyspark.sql.classic.column.Column

In [18]:
df.select('University Name')

DataFrame[University Name: string]

In [19]:
df.select('University Name').show()

+--------------------+
|     University Name|
+--------------------+
|Abilene Christian...|
|  Adelphi University|
|      Adrian College|
| Agnes Scott College|
|Alaska Pacific Un...|
|   Albertson College|
|Albertus Magnus C...|
|      Albion College|
|    Albright College|
|Alderson-Broaddus...|
|   Alfred University|
|   Allegheny College|
|Allentown Coll. o...|
|        Alma College|
|     Alverno College|
|American Internat...|
|     Amherst College|
| Anderson University|
|  Andrews University|
|Angelo State Univ...|
+--------------------+
only showing top 20 rows

In [20]:
type(df.select('University Name'))

pyspark.sql.classic.dataframe.DataFrame

In [21]:
df.head(2)

[Row(University Name='Abilene Christian University', Year=None, Apps=1660, Accept=1232, Enroll=721, Top10perc=23, Top25perc=52, F_Undergrad=2885, P_Undergrad=537, Outstate=7440.0, Room_Board=3300.0, Books=450.0, Personal=2200.0, PhD=70.0, Terminal=78.0, S_F_Ratio=18.100000381469727, perc_alumni=12.0, Expend=7041.0, Grad_Rate=60.0),
 Row(University Name='Adelphi University', Year=None, Apps=2186, Accept=1924, Enroll=512, Top10perc=16, Top25perc=29, F_Undergrad=2683, P_Undergrad=1227, Outstate=12280.0, Room_Board=6450.0, Books=750.0, Personal=1500.0, PhD=29.0, Terminal=30.0, S_F_Ratio=12.199999809265137, perc_alumni=16.0, Expend=10527.0, Grad_Rate=56.0)]

In [22]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [25]:
df.select('University Name', 'Year')

DataFrame[University Name: string, Year: int]

In [26]:
df.select('University Name', 'Year').head(5)

[Row(University Name='Abilene Christian University', Year=None),
 Row(University Name='Adelphi University', Year=None),
 Row(University Name='Adrian College', Year=None),
 Row(University Name='Agnes Scott College', Year=None),
 Row(University Name='Alaska Pacific University', Year=None)]

In [27]:
df.select('University Name', 'Year').show(3)

+--------------------+----+
|     University Name|Year|
+--------------------+----+
|Abilene Christian...|NULL|
|  Adelphi University|NULL|
|      Adrian College|NULL|
+--------------------+----+
only showing top 3 rows

In [28]:
df.withColumn('New_app_enroll', df['Apps'] + df['Enroll']).show(5)

+--------------------+----+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+-------+---------+--------------+
|     University Name|Year|Apps|Accept|Enroll|Top10perc|Top25perc|F_Undergrad|P_Undergrad|Outstate|Room_Board|Books|Personal| PhD|Terminal|S_F_Ratio|perc_alumni| Expend|Grad_Rate|New_app_enroll|
+--------------------+----+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+-------+---------+--------------+
|Abilene Christian...|NULL|1660|  1232|   721|       23|       52|       2885|        537|  7440.0|    3300.0|450.0|  2200.0|70.0|    78.0|     18.1|       12.0| 7041.0|     60.0|          2381|
|  Adelphi University|NULL|2186|  1924|   512|       16|       29|       2683|       1227| 12280.0|    6450.0|750.0|  1500.0|29.0|    30.0|     12.2|       16.0|10527.0|     56.0|          2698|
|      Adrian College|NULL|1428|  1097|   336|       22|       50|       1036|         99| 11250.0|    3750.0|400.0|  1165.0|53.0|    66.0|     12.9|       30.0| 8735.0|     54.0|          1764|
| Agnes Scott College|NULL| 417|   349|   137|       60|       89|        510|         63| 12960.0|    5450.0|450.0|   875.0|92.0|    97.0|      7.7|       37.0|19016.0|     59.0|           554|
|Alaska Pacific Un...|NULL| 193|   146|    55|       16|       44|        249|        869|  7560.0|    4120.0|800.0|  1500.0|76.0|    72.0|     11.9|        2.0|10922.0|     15.0|           248|
+--------------------+----+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+-------+---------+--------------+
only showing top 5 rows

In [29]:
df.show(2)#The column is not permanent. For this, we need to save it to a variable.

+--------------------+----+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+-------+---------+
|     University Name|Year|Apps|Accept|Enroll|Top10perc|Top25perc|F_Undergrad|P_Undergrad|Outstate|Room_Board|Books|Personal| PhD|Terminal|S_F_Ratio|perc_alumni| Expend|Grad_Rate|
+--------------------+----+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+-------+---------+
|Abilene Christian...|NULL|1660|  1232|   721|       23|       52|       2885|        537|  7440.0|    3300.0|450.0|  2200.0|70.0|    78.0|     18.1|       12.0| 7041.0|     60.0|
|  Adelphi University|NULL|2186|  1924|   512|       16|       29|       2683|       1227| 12280.0|    6450.0|750.0|  1500.0|29.0|    30.0|     12.2|       16.0|10527.0|     56.0|
+--------------------+----+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+-------+---------+
only showing top 2 rows

In [31]:
df.withColumnRenamed('Apps', 'New_Apps_Enroll').show(1)

+--------------------+----+---------------+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+------+---------+
|     University Name|Year|New_Apps_Enroll|Accept|Enroll|Top10perc|Top25perc|F_Undergrad|P_Undergrad|Outstate|Room_Board|Books|Personal| PhD|Terminal|S_F_Ratio|perc_alumni|Expend|Grad_Rate|
+--------------------+----+---------------+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+------+---------+
|Abilene Christian...|NULL|           1660|  1232|   721|       23|       52|       2885|        537|  7440.0|    3300.0|450.0|  2200.0|70.0|    78.0|     18.1|       12.0|7041.0|     60.0|
+--------------------+----+---------------+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+------+---------+
only showing top 1 row

In [ ]:
df.createOrReplaceTempView("college")#we saved it as a SQL temporary view

In [33]:
results = spark.sql("select * from college")

In [39]:
results = spark.sql("SELECT * FROM college WHERE Outstate=7440.0")
results.show()

+--------------------+----+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+------+---------+
|     University Name|Year|Apps|Accept|Enroll|Top10perc|Top25perc|F_Undergrad|P_Undergrad|Outstate|Room_Board|Books|Personal| PhD|Terminal|S_F_Ratio|perc_alumni|Expend|Grad_Rate|
+--------------------+----+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+------+---------+
|Abilene Christian...|NULL|1660|  1232|   721|       23|       52|       2885|        537|  7440.0|    3300.0|450.0|  2200.0|70.0|    78.0|     18.1|       12.0|7041.0|     60.0|
+--------------------+----+----+------+------+---------+---------+-----------+-----------+--------+----------+-----+--------+----+--------+---------+-----------+------+---------+